div{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

div:nth-of-type(1){
    padding-bottom: 30px;
}


.caja-azul{
        background-color: blue;
        color: white;
        border: 5px solid blueviolet;
}

.caja-amarilla{
    background-color: yellow;
    color: magenta;
}